.cart_container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_block {
  padding: 0 40px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}