.order_container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn_delivery_text {
  font-weight: 600;
  font-size: 14px;
}

.btn {
  width: 218px;
}
.btn_order {
  width: 187px;
}