.results_container {
  width: 100%;
  text-align: right;
  margin: 20px 0;

  div {
    margin: 10px 0;
  }
  .all_price {
    font-size: 20px;
    font-weight: 600;
  }
  .discount {
    font-size: 14px;
    color: red;
  }
  .vat {
    font-size: 14px;
  }
}