.or_block {
  width: 491px;
  height: 536px;
  grid-area: order;
  margin-bottom: 30px;
}

.or_content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 536px;
  //padding: 10px 40px 60px;
}

.or_content_block {
  position: relative;
  margin: 45px 0;
  width: 391px;
  height: 100%;
}

.result {
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: #282828;
  }
  h2, p {
    font-weight: 600;
    font-size: 35px;
    margin: 0;
  }
}

.delivery_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.delivery {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.all_weight {
  display: flex;
  align-items: center;

  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 50px;
}
.btn_delivery_text {
  font-weight: 600;
  font-size: 14px;
}

.products_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.btn {
  width: 100%;
  position: absolute;
  bottom: 0;
}